<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IIoT Flask Demo</title>

    <!-- Include the Tailwind CSS Playground -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!-- div.container>header+main+footer [TAB] -->
<div class="container mx-auto">
    <header class="bg-black text-gray-300 p-4">
        <h1 class="text-3xl">IIoT Flask Demo</h1>
        <nav class="pt-2">
            <!-- ul>li*5>a[href=#]{Link $} -->
            <ul class="flex flex-row text-md gap-4">
                <li>
                    <a href="#"
                       class="text-lime-500 hover:text-purple-500 transition ease-in-out duration-500
                               border border-gray-900 border-4 border-t-0 border-x-0
                               hover:border-red-500 px-1">
                        Link 1
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="text-lime-500 hover:text-purple-500 transition ease-in-out duration-500
                               border border-gray-900 border-4 border-t-0 border-x-0
                               hover:border-red-500 px-1">
                        Link 2
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="text-lime-500 hover:text-purple-500 transition ease-in-out duration-500
                               border border-gray-900 border-4 border-t-0 border-x-0
                               hover:border-red-500 px-1">
                        Link 3
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="text-lime-500 hover:text-purple-500 transition ease-in-out duration-500
                               border border-gray-900 border-4 border-t-0 border-x-0
                               hover:border-red-500 px-1">
                        Link 4
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="text-lime-500 hover:text-purple-500 transition ease-in-out duration-500
                               border border-gray-900 border-4 border-t-0 border-x-0
                               hover:border-red-500 px-1">
                        Link 5
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="border border-gray-200 border-y-0 border-x-1">
        <article class="bg-stone-100 shadow shadow-lg m-6 p-4">
            <header>
        <h2 class="pt-4 pb-8 text-4xl">Main area</h2>
                </header>
        <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
            ad alias cumque dignissimos doloremque
            eos, esse explicabo id inventore iusto, molestias porro quisquam sit,
            sunt velit veniam vitae voluptate
            voluptatum.
        </p>
        <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis distinctio,
            id maxime pariatur quo
            suscipit ullam. At atque, ducimus earum fuga hic iusto minus nemo perspiciatis
            quia quisquam ratione,
            vero!
        </p>
            </article>
        <article class="bg-stone-100 shadow shadow-lg m-6 p-4">
            <header>
                <h2 class="pt-4 pb-8 text-4xl">Second Article</h2>
            </header>
        </article>
    </main>
    <footer class="flex p-4">
        <div class="px-8">
            <p>&copy; Copyright 2023, YOUR NAME.</p>
            <p>All rights reserved</p>
        </div>
        <div class="flex-grow"></div>
        <div class="px-8 text-sm">
            <p class="font-bold">Links</p>
            <!-- ul>li*5>a[href=#]{Link $} -->

            <ul class="flex flex-row gap-4">
                <li><a href="#" class="text-blue-800 hover:text-amber-500 ease-in-out transition duration-1000">Link
                    1</a></li>
                <li><a href="#" class="text-blue-800 hover:text-amber-500 ease-in-out transition duration-1000">Link
                    2</a></li>
                <li><a href="#" class="text-blue-800 hover:text-amber-500 ease-in-out transition duration-1000">Link
                    3</a></li>
                <li><a href="#" class="text-blue-800 hover:text-amber-500 ease-in-out transition duration-1000">Link
                    4</a></li>
                <li><a href="#" class="text-blue-800 hover:text-amber-500 ease-in-out transition duration-1000">Link
                    5</a></li>
            </ul>
        </div>
    </footer>
</div>

</body>
</html>