<!-- include the base template -->
{% extends 'base.html' %}

<!-- set the page title -->
{% block title %}Testing Flask Templates{% endblock %}

<!-- output this content into the main -->
{% block content %}
    <!-- article>(header>h2{Test})+(section>p{content here}*3) -->
    <article class="bg-slate-100 shadow shadow-md mt-6 ">
        <header class="bg-slate-700 text-white p-4">
            <h2 class="text-2xl">Test</h2>
        </header>

        <p class="p-4 py-2">Content here</p>
        <p class="p-4 py-2">Content here</p>
        <p class="p-4 py-2">Content here</p>
    </article>
{% endblock %}
